<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta lang="pt-Pt">
        <meta author="404">
        <link rel="shortcut icon" href="../imagens/Wlogo.png" type="image/x-icon">
        <link rel="stylesheet" href="../customizer.css">
        <title>Contacte-nos</title>
    </head>
    <body>
        <header>
            <nav>
                <!--logotipo-->
                <figure>
                    <a href="../index.html">
                        <img src="../imagens/Wlogo.png" width="150>
                    </a>
                </figure>
                <!---links-->
                <a href="../index.html">Home</a>
                <a href="./produtos.html">Serviços</a>
                <a href="./sobre.html">Sobre nós</a>
            </nav>
        </header>
        <main>
            <h1>Contacte-nos</h1>
            <form action="" method="post">
                <label for="username" >
                    Nome <br>
                    <input type="text" placeholder="Coloque seu nome de usuario" >
                </label>
                <br>
                <label for="mail">
                    Email <br>
                    <input type="email" placeholder="ex@gmail.com" > 
                </label>
                <br>
                <label for=" phone">
                    Telefone <br>
                    <input type="number" placeholder="8X XXXX XXX">
                </label>
                <br>
                <label for="comentario">
                    Qual serviço gostaria de contratar? <br>
                    <textarea cols="30" rows="10"></textarea>
                </label>
                <br>
                <label>
                    Que meio de contacto prefere usar? <br>
                    Email
                    <input type="radio" name="fav">
                </label>
                <label>
                    Telefone
                    <input type="radio" name="fav">
                </label>
                <label>
                    Físico
                    <input type="radio" name="fav">
                </label>
                <br>
                <label>
                Primeiro contacto com a nossa empresa?<br>
                    Sim
                    <input type="radio" name="contacto">
                </label>
                <label>
                    Não
                    <input type="radio" name="contacto">
                </label>
                <br>
                <label>
                    <input type="button" value="Enviar">
                </label>
            </form>
        </main>
        <footer>
            <address>
                <p>Contacte nos pelos seguintes canais:</p>
                <figure>
                    <img src="../imagens/WhatsApp .PNG" width="45" alt="sapp" >
                    <p><i>+258 873553353</i></p>
                </figure>
                <p>email: thebridge@th.mz</p>
            </address>
<p>Copyright &copy; THE BRIDGE.inc 2022</p>
        </footer>
       
    </body>
</html>